
.input-card {
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    border-radius: 30px;
}



#amount, #from, #to {
    height: 40px;
}

.switch-icon, .start-icon {
    cursor: pointer;
}

.cur, .num {
    font-weight: bold;
    color: green;
}

#result {
    margin: 15px;
    text-align: center;
}

.num {
    margin-left: 5px;
}

.c-button {
    height: 40px;
}

.bill {
    margin-top: 30px;
    min-height: 130px;
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    max-width: 1000px;
}

#bill-result {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    text-align: center;
    color: white;
    background: rgb(5,25,21);
background: linear-gradient(180deg, rgba(5,25,21,1) 0%, rgba(10,27,45,1) 100%);
    max-width: 660px;
}

.line-item {
    margin: 30px;
    display: inline-block;
}

.bill {
    padding: 20px;
}

.title {
    color: white;
    margin-bottom: 10px;
}

hr {
    background-color: white;   
}
.ex-button {
    background-color: darkslateblue;
    color: white;
    border: none;
    height: 38px;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .ex-button {
      font-size: 10px;
    }
  }